<div class="row-fluid">
  <div class="span8">
    <form class="" id="node-form">
       <fieldset>
        <legend>Edit Content</legend>
        
        <div class="control-group">
          <label class="control-label pull-left" for="input01">Title *</label>
          <i class="icon-info-sign pull-right icon-large help" title="Title" data-content="Enter a title for this form"></i>
          <div class="controls">
            <input type="text" class="span3">
          </div>
        </div>
        
        <div class="control-group">
          <label class="control-label pull-left" for="input01">Description</label>
          <i class="icon-info-sign pull-right icon-large help" title="Description" data-content="Enter a description for this form"></i>
          <div class="controls">
            <input type="text" class="span3">
          </div>
        </div>
        
        <div class="control-group">
          <label class="control-label pull-left" for="input01">Email *</label>
          <i class="icon-info-sign pull-right icon-large help" title="Email" data-content="Enter an email address to recieve respsonses from this form"></i>
          <div class="controls">
            <input type="text" class="span3">
          </div>
        </div>
        
        <div class="control-group">
          <label class="control-label pull-left" for="input01">Thank You Email *</label>
          <i class="icon-info-sign pull-right icon-large help" title="Thank You Email" data-content="Enter a message they will see in the thank you email"></i>
          <div class="controls">
            <input type="text" class="span3">
          </div>
        </div>
        
      </fieldset>
      
      
      <fieldset>
        <legend>Add fields</legend>
        
        <div class="control-group">
          <i class="icon-info-sign pull-right icon-large help" title="Add Field" data-content="Please choose a field type using the drop down list, this will determine the characteristics of the new form field."></i>
          <div class="controls">
            <select class="span3">
              <option>Text field</option>
              <option>Select</option>
              <option>Multi-select</option>
              <option>Checkbox</option>
              <option>Radio Button</option>
            </select>
            <button type="submit" class="btn btn-success">Add Field <i class="icon-plus-sign"></i></button>
          </div>
        </div>
        
        <table class="table table-striped table-bordered well">
        <thead>
          <th>Name</th>
          <th>Type</th>
          <th>Label</th>
          <th>Default</th>
          <th>Rows</th>
          <th>Options</th>
          <th>Required</th>
          <th>Delete</th>
        </thead>
        <tfoot>
          <th>Name</th>
          <th>Type</th>
          <th>Label</th>
          <th>Default</th>
          <th>Rows</th>
          <th>Options</th>
          <th>Required</th>
          <th>Delete</th>
        </tfoot>
        <tr>
          <td><input type="text" value="Name"></input></td>
          <td>Text Field</td>
          <td><input type="text" value="Name"></input></td>
          <td><input type="text"></input></td>
          <td></td>
          <td><input type="text"></input></td>
          <td>
            <label class="checkbox">
              <input type="checkbox">Required
            </label>
          </td>
          <td class="delete"><a href="#"><i class="icon-remove-circle icon-large"></i></a></td>
        </tr>
        <tr>
          <td><input type="text" value="Email"></input></td>
          <td>Text Field</td>
          <td><input type="text" value="Email"></input></td>
          <td><input type="text"></input></td>
          <td></td>
          <td><input type="text"></input></td>
          <td>
            <label class="checkbox">
              <input type="checkbox">Required
            </label>
          </td>
          <td class="delete"><a href="#"><i class="icon-remove-circle icon-large"></i></a></td>
        </tr>
        <tr>
          <td><input type="text" value=""></input></td>
          <td>Text Field</td>
          <td><input type="text" value=""></input></td>
          <td><input type="text"></input></td>
          <td></td>
          <td><input type="text"></input></td>
          <td>
            <label class="checkbox">
              <input type="checkbox">Required
            </label>
          </td>
          <td class="delete"><a href="#"><i class="icon-remove-circle icon-large"></i></a></td>
        </tr>
        </table>
        
        
      </fieldset>
      
      
      <button type="submit" class="btn btn-success btn-large">Create</button>
      <button class="btn btn-danger pull-right btn-large">Cancel</button>

    </form>
  </div><!-- // Span 8 -->

</div><!-- // Fluid Row -->