<div class="row-fluid">
  <div class="span8">
    <form class="" id="node-form">
       <fieldset>
        <legend>Edit User</legend>
        
        <div class="control-group">
          <label class="control-label pull-left" for="input01">Name</label>
          <i class="icon-info-sign pull-right icon-large help" title="Name" data-content="Enter a name for this User"></i>
          <div class="controls">
            <input type="text" class="span3">
          </div>
        </div>
        
        <div class="control-group">
          <label class="control-label pull-left" for="input01">Email</label>
          <i class="icon-info-sign pull-right icon-large help" title="Email" data-content="Enter the email address the user will use to login"></i>
          <div class="controls">
            <input type="text" class="span3">
          </div>
        </div>
        
        <div class="control-group">
          <label class="control-label pull-left" for="input01">Avatar</label>
          <i class="icon-info-sign pull-right icon-large help" title="Avatar" data-content="Select an image to use as this user's icon"></i>
          <div class="controls">
            <input type="file" class="span3">
          </div>
        </div>
        
        <div class="control-group">
          <label class="control-label pull-left" for="input01">Bio</label>
          <i class="icon-info-sign pull-right icon-large help" title="Bio" data-content="Enter some text about this user"></i>
          <div class="controls">
            <textarea class="span3" id="" rows="15"></textarea>
          </div>
        </div>
        
        <div class="control-group">
          <label class="control-label pull-left" for="input01">Password</label>
          <i class="icon-info-sign pull-right icon-large help" title="Password" data-content="Enter the a password for the user"></i>
          <div class="controls">
            <input type="text" class="span3">
          </div>
        </div>
        
        <div class="control-group">
          <label class="control-label pull-left" for="input01">Password Confirmation</label>
          <i class="icon-info-sign pull-right icon-large help" title="Password Confirmation" data-content="Enter the password again to confirm it is correct"></i>
          <div class="controls">
            <input type="text" class="span3">
          </div>
        </div>
        
        <div class="control-group">
          <label class="control-label pull-left" for="input01">Permission Groups</label>
          <i class="icon-info-sign pull-right icon-large help" title="Permission Groups" data-content="Add a user to a group, this will determine what tasks they can perform when managing content."></i>
          <div class="controls">
            <input type="text" class="span3">
          </div>
        </div>
        
      </fieldset>
      
      <button type="submit" class="btn btn-success btn-large">Publish</button>
      <button class="btn btn-danger pull-right btn-large">Cancel</button>

    </form>
  </div><!-- // Span 8 -->
  <div class="span4">
  
      
  </div><!-- // Span 4 -->
</div><!-- // Fluid Row -->
